body {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: url('../img/bg-2.jpg') center no-repeat /cover;
}

.container {
  max-width: 35rem;
}

.container--bg {
  min-height: 90vh;
}

.text-white {
  color: rgba(255, 255, 255, .8) !important;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 1px 1px 9px rgba(000, 000, 000, .3);
}